@import '../../../node_modules/breakpoint-sass/stylesheets/breakpoint';
@import '../global/variables';

.basket__list {
  list-style: none;
  overflow: scroll;
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.basket__header {
  display: flex;
  flex-direction: row;

  h3 {
    flex-grow: 1;
  }
}

.basket__close {
  padding: 10px;
}

.basket__item {
  display: flex;
  max-width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid black;

  .basket__details {
    font-size: 16px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
  }

  .basket__image {
    height: 75px;
    width: 75px;
    background-size: 100%;
    background-position: center no-repeat;
  }

  .basket__name {
    font-size: $large-font;
  }

  .basket__button {
    padding: 25px 10px;
  }

}
.basket__container {
  box-sizing: border-box;
  position: fixed;
  padding: 15px;
  width: 85%;
  height: 100%;
  left: 100%;
  top: 0;
  transition: 0.3s;

  @include breakpoint($mobile-landscape) {
    width: 60%;
  }
  @include breakpoint($tablet-portrait) {
    width: 40%;
  }
  @include breakpoint($tablet-landscape) {
    width: 30%;
  }
}

.basket__container-open {
  left: 15%;
  background: $drawer-background;
  box-shadow: -2px 0px 19px 0px rgba(0,0,0,0.75);

  @include breakpoint($mobile-landscape) {
    left: 40%;
  }
  @include breakpoint($tablet-portrait) {
    left: 60%;
  }
  @include breakpoint($tablet-landscape) {
    left: 70%;
  }
}

.status {
  margin-top: 25px;
  display: flex;
}
