@import '../../../node_modules/breakpoint-sass/stylesheets/breakpoint';
@import '../global/variables';

.heading__bar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;

  @include breakpoint($tablet-portrait) {
    max-width: 800px;
  }

  @include breakpoint($desktop) {
    max-width: 1240px;
  }
}

.heading__title {
  display: flex;
  justify-content: center;

  h2 {
    font-size: $largest-font;
  }
}

.heading__summary {
  margin-top: 10px;
  text-align: right;
}

.heading__basket {
  display: flex;
  justify-content: center;
  flex-direction: column
}